
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            @for (item of categoryList$ |async; track $index) {
                <button (click)="getProductByCategoryId(item.categoryId)" class="btn btn-success mt-2">{{item.categoryName + item.categoryId}}</button>
            }
        </div>
        <div class="col-10">
            <div class="row">
                @for (item of productList(); track $index) {
                    <div class="col-3 pt-2">
                        <div class="card product-card">
                            <img [src]="item.productImageUrl" class="card-img-top product-image" alt="Product Image">
                            <span class="category-badge">{{item.categoryName}}</span>
                            <div class="card-body">
                                <h5 class="card-title">{{item.productName}}</h5> 
                                <p class="product-price">{{item.productPrice}}</p>
                                <button class="btn add-to-cart-btn" (click)="addToCart(item.productId)">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


